<ul>
    <li>
        <a href="{{ path('index') }}">Direct upload</a>
    </li>
    <li>
        <a href="{{ path('value_resolver') }}">Inject via a value resolver</a>
    </li>
    <li>
        <a href="{{ path('nested_value_resolver') }}">Inject via a nested value resolver</a>
    </li>
    <li>
        <a href="{{ path('multiple_files') }}">Inject multiple files</a>
    </li>
</ul>
